@import "tailwindcss";
@import "./keyframes.css";
@tailwind utilities;
@layer dnd-kit, base, components, utilities;

@theme {

    --color-primary: oklch(0.1217 0 316);
    --color-secondary: oklch(0.1513 0 0);
    --color-accent: oklch(0.1625 0.0025 106.41);
    --color-text: oklch(0.9585 0.0011 197.14);
    --color-text-secondary: oklch(from var(--color-text) calc(l - 0.3) c h);
    --color-error: oklch(0.625 0.2491 22.76);
    --color-success: oklch(0.6231 0.1973 151.94);
    --color-info: oklch(0.6015 0.1406 253.59);
    --color-shadow: oklch(0.9664 0.0011 197.14 / 10%);
    --shadow-default-size: 0 0 0 1px;
    --shadow-default: var(--shadow-default-size) var(--tw-shadow-color);
    --shadow-medium-size: 0 0 0px 2px;
    --shadow-medium: var(--shadow-medium-size) var(--tw-shadow-color);
    --shadow-bottom-left-size: -6px 2px 7px 1px;
    --shadow-bottom-left:
        var(--shadow-bottom-left-size) var(--tw-shadow-color),
        var(--shadow-default-size) var(--tw-shadow-color);
    --shadow-bottom-right-size: 1px 2px 2px 0px;
    --shadow-bottom-right:
        var(--shadow-bottom-right-size) var(--tw-shadow-color),
        var(--shadow-default-size) var(--tw-shadow-color);
    --font-rethink: var(--font-rethink);
    --font-geist: var(--font-geist);
    --font-marck-script: var(--font-marck-script);
    --animate-up-width: upWidth 1s ease-in-out;
    --animate-down-for-top-left: downForTopLeft 0.5s ease-in-out;
    --animate-to-jump: toJump 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
        alternate;
    --animate-to-custom-spin: customSpin 1s infinite ease-in-out;
    --animate-draw: reDraw 1s ease-in-out infinite alternate-reverse;
    --animate-draw-spin: var(--animate-draw), var(--animate-to-custom-spin);

}

@layer base {
    :where(.dark, .dark *) {
        --color-primary: #000;
    }

    :where(.light, .light *) {
        --color-primary: #000;
    }

    svg {
        stroke-width: 1;
        vector-effect: non-scaling-stroke;
        color: var(--color-text);
        transition: stroke-width 0.3s ease;
    }

    .focus-primary { @apply focus:shadow-medium focus:shadow-text/20;}
    .focus-secondary {@appy focus:shadow-medium focus:shadow-primary/20;}
    .btn-xs {@apply h-6 px-2 text-xs rounded-sm}
    .btn-sm {@apply h-8 px-3 text-sm rounded-sm}
    .btn-md {@apply h-10 px-4 text-sm rounded-sm}

    .btn-primary {@apply bg-primary text-text hover:bg-text/30 shadow-default shadow-shadow}
    .btn-secondary {@apply bg-text text-primary hover:bg-text/70 shadow-default shadow-shadow}
    .button-ghost {@apply text-xs hover:bg-text/30 cursor-pointer}


    .default-input {@apply shadow-shadow shadow-default h-10 outline-none font-geist px-4 font-normal text-xs rounded-sm  text-text}
    .default-btn {@apply flex text-sm gap-2 justify-center items-center px-2 shadow-default font-medium shadow-shadow rounded-sm cursor-pointer }


    .dropdown-md {@apply max-w-52.5 z-4 absolute flex flex-col gap-2 overflow-hidden font-medium}
    .dropdown-primary {@apply px-2 py-2 bg-accent shadow-default shadow-shadow font-medium}

}

@layer utilities {
    .btn-default {
        @apply h-8 rounded-sm px-2 py-1 shadow-shadow shadow-default duration-300 text-xs cursor-pointer font-thin;
    }
}

body,
html {
    background: var(--color-primary);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: oklch(from var(--color-text) l c h / 0.3) transparent;
}

@media (max-width: 768px) {
    *::-webkit-scrollbar {
        width: 8px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: oklch(from var(--color-text) l c h / 0.3);
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.move-top {

    transform: translateY(-16px);

}

.move-bottom {

    transform: translateY(16px);

}
